@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&family=Ubuntu:wght@700&display=swap');
 html {
     width: 100%;
     margin: auto;
     background: #000000;
 }
header {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 10.5vw;
    color: #000000;
    margin: auto;
    letter-spacing: -20px;
    width: 100%;
 }
h1 {
    font-family: 'Syne Mono', monospace;
    width: 35%;
    margin-right: 10%;
    margin-top: -4%;
    font-size: 2.5vw;
}
body {
    width: 70%;
    height: 100vh;
    margin:auto;
    background: #ffffff;
    overscroll-behavior: none;
}